body {
    margin: 0;
    background: #000;
    color: white;
    font-family: Arial, sans-serif;
}

h1, h2 {
    text-align: center;
}

button {
    background: white;
    color: black;
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
}
/* Navigation */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    background:#000;
    border-bottom:1px solid #222;
    position:sticky;
    top:0;
}

.logo{
    font-size:24px;
    font-weight:bold;
    letter-spacing:3px;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:30px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    transition:.3s;
}

.nav-links a:hover{
    color:#999;
}
